<div class="navbar-header">
	<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#" ng-click="appController.displayHome()">Semper LLC Administrator</a>
</div>
<ul class="nav navbar-top-links navbar-right hidden-xs">
	<li>
		<h6>Using: {{ apiDomain }}</h6>
	</li>
	<li dropdown>
		<a dropdown-toggle href="#" aria-expanded="true" ng-controller="username">
			<i class="fa fa-link fa-lg"></i>&nbsp;Links&nbsp;<i class="fa fa-caret-down"></i>
		</a>
		<ul class="dropdown-menu" >
			<li><a href="https://semper-ui-staging.herokuapp.com" target="_blank">Staging UI</a></li>
			<li><a href="https://www.semperll.com/app" target="_blank">Production UI</a></li>
			<li><a href="https://app.semperll.com" target="_blank">Sandbox UI</a></li>
			<li class="divider"></li>
			<li><a href="https://semper-admin-staging.herokuapp.com/" target="_blank">Staging Admin UI</a></li>
			<li><a href="https://admin.semperll.com" target="_blank">Production Admin UI</a></li>
		</ul>
	</li>
	<li dropdown>
		<a dropdown-toggle href="#" aria-expanded="true" ng-controller="username">
			<i class="fa fa-user fa-lg"></i>&nbsp;{{ user.name_first || user.username }}&nbsp;<i class="fa fa-caret-down"></i>
		</a>
		<ul class="dropdown-menu dropdown-user" role="menu">
			<li><a href="#" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
		</ul>
	</li>
</ul>
