<h4>
	File Maker Linker
</h4>

<div class="row">
	<div class="col-md-10">
		<p>
			This feature provides the ability to link a user to a
			account in filemaker. If, afer a search, a user can not
			found in filemaker then you can use the 'Create User'
			option.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<select type="text" class="form-control" ng-options="item.value as item.label for item in seachFieldOpts" ng-model="searchField" name="searchField" placeholder="Search for..."></select>
	</div>

	<div class="col-md-6">
		<div class="input-group">
				<input type="text" class="form-control" ng-model="searchTerm" value="@test.com" placeholder="Search for...">
				<span class="input-group-btn">
					<button ng-click="search()" class="btn btn-default" type="button">Go!</button>
				</span>
			</div>
		</div>

	</div>
</div>

<div ng-if="message" class="row">
	<div class="col-md-12">
		<div class="alert alert-success">
			{{ message }}
		</div>
	</div>
</div>

<div ng-if="errorMessage" class="row">
	<br />
	<div class="col-md-12">
		<div class="alert alert-danger">
			{{ errorMessage }}
		</div>
	</div>
</div>

<div ng-if="user.fmEmployeeId" class="row">
	<div class="col-md-12">
		<div class="alert alert-warning">
			Note, this account already has a linked fmEmployeeID. You
			an change the linking ID, but it will impact how the user
			account access Semper Features. <b>Current Id: {{user.fmEmployeeId}}</b>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<br>
		<table class="table table-stripe table-hover">
			<tr>
				<th width="5%">FMID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Office</th>
				<th width="5%"></th>
			</tr>
			<tr ng-if="searching">
				<td colspan="7" align="center">
					<div class="alert alert-default">
						<i class="fa fa-spinner fa-spin"></i>
						Searching filemaker please wait...
					</div>
				</td>
			</tr>
			<tr ng-if="searching == false && users.length == 0">
				<td colspan="7" align="center">
					<div class="alert alert-info">
						Sorry no Filemaker Employees found with the criteria you entered.
					</div>
				</td>
			</tr>
			<tr ng-repeat="user in users">
				<td>
					{{ user.id_employee }}
				</td>
				<td>
					{{ user.name_first }} {{ user.name_last }}
				</td>
				<td>
					{{ user.email || 'NA' }}
				</td>
				<td>
					{{ user.phone || 'NA' }}
				</td>
				<td>
					{{ user.office }}
				</td>
				<td>
					{{ user.address_city }} {{ user.address_state }}
				</td>
				<td>
					<button ng-click="useFMId(user.id_employee)" class="btn btn-success btn-xs">Link Accounts</button>
				</td>
			</tr>
		</table>
	</div>
</div>

<button class="btn btn-default" ng-click="createUser()">Create Usr</button>
<br>

<div class="row">
	<div class="col-md-12">
		<b>Url:</b> <a href="{{url}}" target="_data">{{url}}</a>
	</div>
</div>
