<!doctype html>
<html lang="en">
  <head>
    <title>Semper Administrator</title>
    <link rel="stylesheet" href="node_modules/ng-admin/build/ng-admin.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body ng-app="myApp">

    <div ui-view></div>

    <script src="node_modules/ng-admin/build/ng-admin.min.js"></script>

    <script type="text/javascript">
    var myApp = angular.module('myApp', ['ng-admin']);

    myApp.directive('header', function() {
	    return {
	        templateUrl: 'header.html'
	    };
	});

    myApp.directive('dashboard', function() {
	    return {
	        templateUrl: 'dashboard.html'
	    };
	});

	// custom controllers
	myApp.controller('username', ['$scope', '$window', function($scope, $window) { // used in header.html
	    $scope.username =  $window.localStorage.getItem('posters_galore_login');
	}]);

    myApp.config(['NgAdminConfigurationProvider', 'RestangularProvider', function(NgAdminConfigurationProvider, RestangularProvider) {
        var nga = NgAdminConfigurationProvider;

        RestangularProvider.setDefaultHeaders({'x-access-token': 'test' });
        RestangularProvider.setRestangularFields({ id: 'id' });
		RestangularProvider.addFullRequestInterceptor(function(element, operation, what, url, headers, params, httpConfig) {

	        if (operation == 'getList' && what == 'entityName') {
	            if (params._filters) {
	                for (var filter in params._filters) {
	                    params[filter] = params._filters[filter];
	                }
	                delete params._filters;
	            }
	        }
	        return { params: params };
	    });

        RestangularProvider.setResponseInterceptor(function(response, operation, route, url) {
    	  var data;
    	  if (operation === 'getList') {
    	    data = response.data.docs ? response.data.docs : response;
    	  } else {
    	    data = response;
    	  }
    	  return data;
    	});

        // create an admin application
        var admin = nga.application('Semper LLC Administrator')
        	// .baseApiUrl('http://semperllc.herokuapp.com/'); 
        	.baseApiUrl('http://localhost:7001/');

	    var user = nga.entity('user').identifier(nga.field('_id'));

	    user.listView()
	    .fields([
	        nga.field('firstname'),
	        nga.field('username'),
	        nga.field('email'),
	        nga.field('type'),
	        nga.field('phone')
	    ]).listActions(['edit', 'delete'])
	    .filters([
	    	nga.field('q', 'template')
                .label('')
                .pinned(true)
                .template('<div class="input-group"><input type="text" ng-model="value" placeholder="Search" class="form-control"></input><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div>'),
            nga.field('type').label('Type'),
            nga.field('username', 'string').label('Username'),	
            nga.field('email', 'string').label('email'),
            nga.field('city', 'string').label('City'),
            nga.field('state', 'string').label('State')
        ]);

	    user.creationView()
	        .title('Create new User')
	        .fields([
	        	nga.field('type', 'choice')
	        		.choices([ { value: 'employer', label: 'Employer' }, { value: 'job seeker', label: 'Job Seeker' } ])
	        		.validation({required: true })
	        		.cssClasses('col-sm-4'),
	            nga.field('firstname').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('lastname').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('username').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('password').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('address1').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('email').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('city').validation({required: false }).cssClasses('col-sm-4'),
	            nga.field('state').validation({required: false }).cssClasses('col-sm-4'),
	            nga.field('zip').validation({required: false }).cssClasses('col-sm-4'),
	            nga.field('shortProfile', 'wysiwyg').validation({required: false })
	        ]);

	    user.editionView().fields(user.creationView().fields());

	    admin.addEntity(user);

	    /* Lookups */
	    var lookup = nga.entity('lookup').identifier(nga.field('_id'));

	    lookup.listView()
	    .fields([
	        nga.field('value'),
	        nga.field('label'),
	        nga.field('type'),
	    ]).listActions(['edit', 'delete'])
	    .filters([
	    	nga.field('q', 'template')
                .label('')
                .pinned(true)
                .template('<div class="input-group"><input type="text" ng-model="value" placeholder="Search" class="form-control"></input><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div>'),
            nga.field('type', 'choice')
            	.label('Type')
            	.choices([ 
        			{ value: 'industry', label: 'Industry' }, 
        			{ value: 'region', label: 'Region' },
        			{ value: 'source', label: 'Source' },
        			{ value: 'salary', label: 'Salary' },
        			{ value: 'shift', label: 'Shift' },
        			{ value: 'type', label: 'Type' } 
        		])
        ]);

	    lookup.creationView()
	        .title('Create new User')
	        .fields([
	        	nga.field('type', 'choice')
	        		.choices([ 
	        			{ value: 'industry', label: 'Industry' }, 
	        			{ value: 'region', label: 'Region' },
	        			{ value: 'source', label: 'Source' },
	        			{ value: 'salary', label: 'Salary' },
	        			{ value: 'shift', label: 'Shift' },
	        			{ value: 'type', label: 'Type' } 
	        		])
	        		.validation({required: true })
	        		.cssClasses('col-sm-4'),
	            nga.field('value').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('label').validation({required: true }).cssClasses('col-sm-4')
	        ]);

	    lookup.editionView().fields(lookup.creationView().fields());

	    admin.addEntity(lookup);

	    /* Job */
	    var job = nga.entity('job').identifier(nga.field('_id'));
	    job.label('Jobs');

	    job.listView().fields([
	        nga.field('name'),
	        nga.field('city'),
	        nga.field('state'),
	        nga.field('User.company').label('Company')
	    ]).listActions(['edit', 'delete'])
	    .filters([
	    	nga.field('q', 'template')
                .label('')
                .pinned(true)
                .template('<div class="input-group"><input type="text" ng-model="value" placeholder="Search" class="form-control"></input><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div>'),
            nga.field('type').label('Type'),
            nga.field('username', 'string').label('Username'),	
            nga.field('email', 'string').label('email'),
            nga.field('city', 'string').label('City'),
            nga.field('state', 'string').label('State')
        ]);

	    job.creationView()
	        .title('Create new Job')
	        .fields([
	            nga.field('name').validation({required: true }).cssClasses('col-sm-8'),
	            nga.field('city').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('state').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('description', 'wysiwyg').validation({required: true })
	        ]);

	    job.editionView().fields(job.creationView().fields());

	    admin.addEntity(job);

	    /* Agent */
	    var agent = nga.entity('agent').identifier(nga.field('_id'));
	    agent.listView().fields([
	        nga.field('name'),
	        nga.field('city'),
	        nga.field('state'),
	        nga.field('type'),
	        nga.field('description')
	    ]).listActions(['edit', 'delete'])
	    .filters([
	    	nga.field('q', 'template')
                .label('')
                .pinned(true)
                .template('<div class="input-group"><input type="text" ng-model="value" placeholder="Search" class="form-control"></input><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div>'),
            nga.field('type').label('Type'),
            nga.field('username', 'string').label('Username'),	
            nga.field('email', 'string').label('email'),
            nga.field('city', 'string').label('City'),
            nga.field('state', 'string').label('State')
        ]);

	    agent.creationView()
	        .title('Create new Agent')
	        .fields([
	            nga.field('name')
	            	.validation({ required: true })
	            	.cssClasses('col-sm-8'),
	            nga.field('type', 'choice')
	            	.choices([ { value: 'job', label: 'Job' }, { value: 'staff', label: 'Staff' } ])
	        		.validation( {required: true } )
	        		.cssClasses('col-sm-4'),
	        	nga.field('User', 'reference')
        			.targetEntity(user) 
        			.targetField(nga.field('firstname')),
	        	// No Required Fields.
	        	nga.field('city').validation({ required: false }).cssClasses('col-sm-4'),
	        	nga.field('country').validation({ required: false }).cssClasses('col-sm-4'),
	        	nga.field('ExpirationDate').validation({ required: false }).cssClasses('col-sm-4'),
	        	nga.field('salary').validation({ required: false }).cssClasses('col-sm-4'),
	        	nga.field('skill').validation({ required: false }).cssClasses('col-sm-4'),
	        	nga.field('worktype').validation({ required: false }).cssClasses('col-sm-4'),
	        	nga.field('state').validation({ required: false }).cssClasses('col-sm-4'),
	        	nga.field('shift').validation({ required: false }).cssClasses('col-sm-4')
	        ]);

	    agent.editionView().fields(agent.creationView().fields());

	    admin.addEntity(agent);

	    /* HomeOffice */
	    var homeoffice = nga.entity('homeoffice').identifier(nga.field('_id'));

	    homeoffice.label('Home Offices');
	    
	    homeoffice.listView().fields([
	        nga.field('name'),
	        nga.field('city'),
	        nga.field('state')
	    ]).listActions(['edit', 'delete'])
	    .filters([
	    	nga.field('q', 'template')
                .label('')
                .pinned(true)
                .template('<div class="input-group"><input type="text" ng-model="value" placeholder="Search" class="form-control"></input><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div>'),
            nga.field('type').label('Type'),
            nga.field('username', 'string').label('Username'),	
            nga.field('email', 'string').label('email'),
            nga.field('city', 'string').label('City'),
            nga.field('state', 'string').label('State')
        ]);

	   	homeoffice.creationView()
	        .title('Create new Home Office')
	        .fields([
	            nga.field('name').validation({required: true }).cssClasses('col-sm-8'),
	            nga.field('city').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('state').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('zip').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('emailAddress1').validation({required: false }).cssClasses('col-sm-4'),
	            nga.field('emailAddress2').validation({required: false }).cssClasses('col-sm-4'),
	            nga.field('phone').validation({required: false }).cssClasses('col-sm-4'),
	        ]);

	    homeoffice.editionView().fields(homeoffice.creationView().fields());

	    admin.addEntity(homeoffice);

	    /* Order */
	    var order = nga.entity('order').identifier(nga.field('_id'));
	    order.listView().fields([
	        nga.field('name'),
	        nga.field('type'),
	        nga.field('User.company')
	    ]).listActions(['edit', 'delete'])
	    .filters([
	    	nga.field('q', 'template')
                .label('')
                .pinned(true)
                .template('<div class="input-group"><input type="text" ng-model="value" placeholder="Search" class="form-control"></input><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div>')
        ]);

	   	order.creationView()
	        .title('Create new Order')
	        .fields([
	            nga.field('name').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('type').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('User', 'reference')
        			.targetEntity(user) 
        			.targetField(nga.field('firstname'))
	        ]);

	    order.editionView().fields(order.creationView().fields());

	    admin.addEntity(order);
	    
	    /* Application */
	    var application = nga.entity('application').identifier(nga.field('_id'));
	    application.listView().fields([
	        nga.field('title'),
	        nga.field('User.username').label('Owner'),
	        nga.field('Order.name').label('Job Order'),
	        nga.field('status').label('Status')
	    ]).listActions(['edit', 'delete'])
	    .filters([
	    	nga.field('q', 'template')
                .label('')
                .pinned(true)
                .template('<div class="input-group"><input type="text" ng-model="value" placeholder="Search" class="form-control"></input><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div>'),
            nga.field('type').label('Type'),
            nga.field('username', 'string').label('Username'),	
            nga.field('email', 'string').label('email'),
            nga.field('city', 'string').label('City'),
            nga.field('state', 'string').label('State')
        ]);

	   	application.creationView()
	        .title('Create new Job Application')
	        .fields([
	            nga.field('title').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('User', 'reference')
        			.targetEntity(user) 
        			.targetField(nga.field('firstname')),
        		nga.field('Order', 'reference')
        			.targetEntity(order) 
        			.targetField(nga.field('name')),
        		 nga.field('description').validation({ required: false }).cssClasses('col-sm-8'),
	        ]);

	    application.editionView().fields(application.creationView().fields());

	    admin.addEntity(application);

	    /* Resumes */
	    var resume = nga.entity('resume').identifier(nga.field('_id'));
	    resume.listView().fields([
	        nga.field('name')
	    ]).listActions(['edit', 'delete'])
	    .filters([
	    	nga.field('q', 'template')
                .label('')
                .pinned(true)
                .template('<div class="input-group"><input type="text" ng-model="value" placeholder="Search" class="form-control"></input><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span></div>')
        ]);

	   	resume.creationView()
	        .title('Create new Resume')
	        .fields([
	            nga.field('name').validation({required: true }).cssClasses('col-sm-4'),
	            nga.field('User', 'reference')
        			.targetEntity(user) 
        			.targetField(nga.field('firstname')),
	        ]);

	    resume.editionView().fields(resume.creationView().fields());

	    admin.addEntity(resume);

	    /* Dashboard */
	    admin.dashboard(nga.dashboard()
	    	.template('<div dashboard></div>')
		    // .addCollection(nga.collection(job)
		    //     .name('recent_jobs')
		    //     .title('Recent Job Posts')
		    //     .perPage(5) // limit the panel to the 5 latest posts
		    //     .fields([
		    //         nga.field('name', 'string').label('Title'),
		    //     ])
		    //     .sortField('published_at')
		    //     .sortDir('DESC')
		    //     .order(1)
		    // )
		    // .addCollection(nga.collection(user)
		    //     .name('Recent Users')
		    //     .title('Recent Users')
		    //     .perPage(5) // limit the panel to the 5 latest posts
		    //     .fields([
		    //         nga.field('firstname', 'string').label('Title'),
		    //     ])
		    //     .sortField('published_at')
		    //     .sortDir('DESC')
		    //     .order(1)
		    // )
		);

		/* Header */
	    admin.header('<div header></div>');

        nga.configure(admin);
    }]);
    </script>

  </body>
</html>