<!doctype html>
<html lang="en">
	<head>
		<title>Semper Administrator ({{ appVersion }})</title>
		<link rel="stylesheet" href="node_modules/ng-admin/build/ng-admin.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href='//fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' type='text/css'>
	</head>
	<body ng-app="myApp">
		{{{ body }}}
		<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
		<script src="/vendor/ng-admin.js"></script>
		<script src="./bower_components/angular-keenio/dist/angular-keenio.min.js"></script>
		<script type="text/javascript" src="bower_components/tv4/tv4.js"></script>
		<script type="text/javascript" src="bower_components/objectpath/lib/ObjectPath.js"></script>
		<script type="text/javascript" src="bower_components/angular-schema-form/dist/schema-form.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
		<script src="dist/bundle.js"></script>
	</body>
</html>
