<h4>
	Job/Staff Agents
</h4>

<p>
	The following is a list of agnets for this user.
</p>

<p>
	<add-agent-modal-button user="user"></add-agent-modal-button>
</p>

<table class="table table-striped">
	<tr>
		<th>
			Created
		</th>
		<th>
			Name
		</th>
		<th>
			Address
		</th>
		<th>
			City, State, Zip
		</th>
		<th>
			Details
		</th>
	</tr>
	<tr ng-if="data.length == 0">
		<td class="warning" colspan="5" align="center">
			<br><br>
			<br>
			There are no records available.
			<br><br>
			<br><br>
		</td>
	</tr>
	<tr ng-repeat="item in data">
		<td>{{item.createdAt | date:'medium'}}</td>
		<td>{{item.first_name}} {{address.last_name}}</td>
		<td>{{item.address_1}}</td>
		<td>{{item.address_city}}, {{item.address_state}} {{item.address_zip}}</td>
		<td>
			<json-viewer entry="igem"></json-viewer>
		</td>
	</tr>
</table>
