<br>
<form name="form" novalidate>

	<div class="row">
		<div class="col-md-12">
			<p>
				Use the following to manage the Queue setttings.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group has-feedback" ng-class="{'has-error': form.name.$touched && form.name.$invalid}">
				<label>Name</label>
				<input name="name" required id="name" class="form-control" ng-model="agent.name" placeholder="Enter a Name">
				<span ng-if="form.name.$touched" ng-class="{ 'glyphicon-ok': form.name.$valid, 'glyphicon-remove': form.name.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group has-feedback" ng-class="{'has-error': form.office.$touched && form.office.$invalid}">
				<label>Home Office ({{ agent.office  || 'Any' }})</label>
				<select name="office" id="office" class="form-control"
						ng-model="agent.office"
						placeholder="Select.."
						ng-options="item.id_office as item.name_office for item in lookups.homeoffice ">
					<option value="">Select Home Office</option>
				</select>
				<span ng-if="form.office.$touched" ng-class="{ 'glyphicon-ok': form.office.$valid, 'glyphicon-remove': form.office.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group has-feedback" ng-class="{'has-error': form.skill.$touched && form.skill.$invalid}">
				<label>Major Skill  ({{ agent.skill  || 'Any' }})</label>
				<select name="skill" id="skill" class="form-control"
						ng-model="agent.skill"
						placeholder="Select.."
						ng-options="item.primary as item.primary for item in lookups.skills | orderBy:primary:desc ">
					<option value="">Select Major Skill</option>
				</select>
				<span ng-if="form.skill.$touched" ng-class="{ 'glyphicon-ok': form.skill.$valid, 'glyphicon-remove': form.skill.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group has-feedback" ng-class="{'has-error': form.type_job.$touched && form.type_job.$invalid}">
				<label>Type  ({{ agent.work || 'Any' }})</label>
				<select name="work" id="work" class="form-control"
						ng-model="agent.work"
						placeholder="Select.."
						ng-options="item.value as item.label for item in lookups.work">
					<option value="">Select Work Type</option>
				</select>
				<span ng-if="form.work.$touched" ng-class="{ 'glyphicon-ok': form.work.$valid, 'glyphicon-remove': form.work.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group has-feedback" ng-class="{'has-error': form.salary.$touched && form.salary.$invalid}">
				<label>Salary  ({{ agent.salary || 'Any' }})</label>
				<select name="salary" id="salary" class="form-control"
						ng-model="agent.salary"
						placeholder="Select.."
						ng-options="item.value as item.label for item in lookups.salary">
					<option value="">Select Salary</option>
				</select>
				<span ng-if="form.salary.$touched" ng-class="{ 'glyphicon-ok': form.salary.$valid, 'glyphicon-remove': form.salary.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group has-feedback" ng-class="{'has-error': form.shift.$touched && form.shift.$invalid}">
				<label>Shift  ({{ agent.shift || 'Any' }})</label>
				<select name="shift" id="shift" class="form-control"
						ng-model="agent.shift"
						placeholder="Select.."
						ng-options="item.value as item.label for item in lookups.shift">
					<option value="">Select Shift</option>
				</select>
				<span ng-if="form.shift.$touched" ng-class="{ 'glyphicon-ok': form.shift.$valid, 'glyphicon-remove': form.shift.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save();">
				<i ng-if="showSpinner == true" class="fa fa-spinner fa-spin"></i>
				Save Changes
			</button>
		</div>
	</div>

</form>
<br />
