
 <div class="main">
 	<br><br>
	<div>
		<div style="width: 400px !important; margin: auto;">
			<h1>Login</h1>
			<br>
			<form onSubmit="login(this);" name="form" novalidate>
				<div class="form-group">
					<label for="exampleInputEmail1">Username</label>
					<input type="email" class="form-control" id="username" placeholder="Enter username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password">
				</div>

				<button type="button" onclick="login();" class="btn btn-default">Submit</button>
			</form>
      <br>
      <br>
      <br>
      <small>
        v1.0.4
      </small>

		</div>
	</div>
</div>

<script type="application/x-javascript">
function login(form) {
	$.ajax({
		type: 'POST',
		url: '{{apiUrl}}user/authenticate',
		data: { username: $('#username').val(), password: $('#password').val() },
		success: function(data) {

		if (data.token) {
			localStorage.setItem('semper-admin-token', data.token);
			window.location.href = '/';
		}
		},
		error: function(err) {
			alert('Sorry, username or password failed.');
			console.log('Oops failed', err);
		}
	});
	return false;
}
</script>
