<script>
$(function(){
  var hash = window.location.hash;
  $('.nav-tabs a').click(function (e) {
  	e.preventDefault();
  	e.stopPropagation();
  	var parts = window.location.hash.split('?');
  	var hashBase = parts[0];
  	var fragment = $(this).attr('href').replace('#', '');
  	var hashEl = hashBase.split('/');
  	if (hashEl.length == 4) {
  		hashEl.push(fragment);
  	} else if (hashEl.length == 5) {
  		hashEl[4] = fragment;
  	}
  	window.location.hash = hashEl.join('/');
  });
});
</script>

<div class="row">
	<div class="col-md-12">
	<h2>
		User Details

		<div class="btn-group pull-right">
			<json-viewer class="btn-sm" entry="user"></json-viewer>
			<a href="#/user/list" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
				List
			</a>
		</div>
	</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<b>Full Name</b>: {{ user.name_first }} {{ user.name_last }}<br>
		<b>Phone</b>: {{user.phone || 'NA' | tel }}<br>
		<b>Id</b>: {{user._id || 'NA'}}
	</div>
	<div class="col-md-4">
		<b>Status</b>: {{user.status || 'NA'}}<br>
		<b>Created:</b> {{user.createdAt | date: 'medium' }}<br>
        <b>Updated:</b> {{user.updatedAt | date: 'medium' }}<br>
		<div ng-if="user.type == 'job seeker'">
			<b>Employee Id</b>: {{user.id_employee || 'NA'}}
		</div>
        <div ng-if="user.type == 'employer'">
			<b>Client Id</b>: {{user.id_client || 'NA'}}
		</div>
	</div>
	<div class="col-md-4">
        <div>
			<b>Office ID</b>: {{user.id_office || 'NA'}} {{ user.office }}
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-12">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" ng-class="{ 'active': tab == 'details'}">
				<a href="#details" aria-controls="details" role="tab" data-toggle="tab">
					Details
				</a>
			</li>
            <li role="presentation" ng-show="user.type == 'job seeker'">
                <a href="#resume" aria-controls="forms" role="tab" data-toggle="tab">
					Resume
				</a>
			</li>
            <li role="presentation" ng-show="user.type == 'job seeker'">
				<a href="#forms" aria-controls="forms" role="tab" data-toggle="tab">
					Forms
				</a>
			</li>
            <li role="presentation" ng-show="user.type == 'job seeker'" ng-class="{ 'active': tab == 'applications'}">
				<a href="#applications" class="tab" aria-controls="applications" role="tab" data-toggle="tab">
					Applications
				</a>
			</li>
			<li role="presentation" ng-class="{ 'active': tab == 'agents'}">
				<a href="#agents" class="tab" aria-controls="agents" role="tab" data-toggle="tab">
					Agents
				</a>
			</li>
			<li role="presentation" ng-class="{ 'active': tab == 'filemaker'}">
				<a href="#filemaker" aria-controls="filemaker" role="tab" data-toggle="tab">
					FileMaker Sync
				</a>
			</li>
			<li role="presentation" ng-class="{ 'active': tab == 'filemaker-linker'}">
				<a href="#filemaker-linker" aria-controls="filemaker" role="tab" data-toggle="tab">
					FileMaker Linker
				</a>
			</li>
            <li role="presentation">
                <a href="#queue" aria-controls="queue" role="tab" data-toggle="tab">
                    Queue
                </a>
            </li>
			<li role="presentation" ng-class="{ 'active': tab == 'options'}">
				<a href="#options" aria-controls="options" role="tab" data-toggle="tab">
					Options
				</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane" ng-class="{ 'active': tab == 'details'}" id="details">
				<user-details user="user"></user-details>
			</div>
            <div ng-if="user.type == 'job seeker'" role="tabpanel" class="tab-pane" ng-class="{ 'active': tab == 'resume'}" id="resume">
				<user-resume user="user"></user-resume>
			</div>
            <div ng-if="user.type == 'job seeker'" role="tabpanel" class="tab-pane" ng-class="{ 'active': tab == 'forms'}" id="forms">
				<user-forms user="user"></user-forms>
			</div>
            <div role="tabpanel" class="tab-pane" ng-class="{ 'active': tab == 'queue'}" id="queue">
				<user-queue-table user="user"></user-queue-table>
			</div>
			<div role="tabpanel" class="tab-pane" ng-class="{ 'active': tab == 'agents'}" id="agents">
				<user-agents-table user="user"></user-agents-table>
			</div>
            <div ng-if="user.type == 'job seeker'" role="tabpanel" class="tab-pane" ng-class="{ 'active': tab == 'applications'}" id="applications">
				<user-applications-table user="user"></user-applications-table>
			</div>
			<div role="tabpanel" class="tab-pane" ng-class="{ 'active': tab == 'filemaker'}" id="filemaker">
				<user-filemaker-details user="user"></user-filemaker-details>
			</div>
			<div role="tabpanel" class="tab-pane" ng-class="{ 'active': tab == 'filemaker-linker'}" id="filemaker-linker">
				<user-filemaker-linker user="user"></user-filemaker-linker>
			</div>
			<div role="tabpanel" class="tab-pane" ng-class="{ 'active': tab == 'options'}" id="options">

					<h4>Account Options</h4>

					<div ng-if="optionsSuccessMessage !==''" class="alert alert-success">
						{{optionsSuccessMessage}}
					</div>

					<div ng-if="optionsErrorMessage !==''" class="alert alert-danger">
						{{optionsErrorMessage}}
					</div>

					<div class="row">
						<div class="col-md-3">
							<button class="btn btn-success btn-block" ng-click="sendEmailPassCode()">Send Email Passcode</button>
						</div>
						<div class="col-md-3">
							{{user.email || 'NA'}}
						</div>
						<div class="col-md-5">
							This option provides the ability to send the user a Email Message containing
							a single user passcode.
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-md-3">
							<button class="btn btn-success btn-block" ng-click="sendSMSPassCode()">Send SMS Passcode</button>
						</div>
						<div class="col-md-3">
							{{user.phone || 'NA' | tel }}
						</div>
						<div class="col-md-5">
							This option provides the ability to send the user an SMS text messsage with
							a single use passcode.
						</div>
					</div>

			</div>
		</div>
	</div>
</div>
