<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="title">
					{{ isNew ? 'Add a New Work History' : 'Edit Work History' }}
				</h4>
			</div>
			<div class="modal-body">
				<form name="form" novalidate>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group has-feedback" ng-class="{'has-error': form.name_company.$touched == true && form.name_company.$valid == false}">
								<label for="name_company">Company *</label>
								<input type="text" class="form-control" name="name_company" placeholder="Enter Company" required id="name_company" ng-model="model.name_company">
								<span ng-if="form.name_company.$touched == true && form.name_company.$valid == false" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
								<span ng-if="form.name_company.$touched == true && form.name_company.$valid == true" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group has-feedback" ng-class="{'has-error': form.position_job_title.$touched == true && form.position_job_title.$valid == false}">
								<label for="position_job_title">Position *</label>
								<input type="text" class="form-control" name="position_job_title" placeholder="Enter position" required id="position_job_title" ng-model="model.position_job_title">
								<span ng-if="form.position_job_title.$touched == true && form.position_job_title.$valid == false" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
								<span ng-if="form.position_job_title.$touched == true && form.position_job_title.$valid == true" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<!-- <div class="col-md-4">
							<div class="form-group has-feedback" ng-class="{'has-error': form.payrate_start.$touched == true && form.payrate_start.$valid == false}">
								<label for="payrate_start">Starting Pay Rate *</label>
								<input type="test" id="payrate_start" class="col-md-4 form-control" placeholder="Enter $/hr" name="payrate_start" ng-model="model.payrate_start" required />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group has-feedback" ng-class="{'has-error': form.payrate_end.$touched == true && form.payrate_end.$valid == false}">
								<label for="payrate_end">Ending Pay Rate *</label>
								<input type="text" id="payrate_end" class="col-md-4 form-control"  placeholder="Enter $/hr" name="payrate_end" ng-model="model.payrate_end" required />
							</div>
						</div> -->
						<div class="col-md-4">
							<div class="form-group has-feedback" ng-class="{'has-error': form.phone.$touched == true && form.phone.$valid == false}">
								<label for="phone">Phone *</label>
								<input type="test" id="phone" class="col-md-4 form-control" maxlength="14" mask="(999) 999-9999" clean="true" placeholder="(###) ###-####" name="phone" ng-model="model.phone" required />
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group has-feedback" ng-class="{'has-error': form.dateRange.$touched == true && form.dateRange.$valid == false}">
								<label for="dateRange">From</label>
								<input type="date" id="exampleInput" class="col-md-4 form-control" name="input" ng-model="model.date_start" placeholder="yyyy-MM-dd" min="1930-01-01" ngRequired required />&nbsp;
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group has-feedback" ng-class="{'has-error': form.dateRange.$touched == true && form.dateRange.$valid == false}">
								<label for="dateRange">To</label>
								<input type="date" id="exampleInput" name="input" class="col-md-4 form-control" ng-model="model.date_end" placeholder="yyyy-MM-dd" min="1930-01-01" required ngRequired />
								<span ng-if="form.dateRange.$touched == true && form.dateRange.$valid == false" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
								<span ng-if="form.dateRange.$touched == true && form.dateRange.$valid == true" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							</div>
						</div>
						<span class="col-md-12"><em>If you dont know the exact date use the first of the month</em></span>
					</div>

					<br>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group has-feedback" ng-class="{'has-error': form.location.$touched == true && form.location.$valid == false}">
								<label for="location">Location *</label>
								<input type="text" class="form-control" name="location" placeholder="Enter Location (City & State)" required id="location" ng-model="model.location">
								<span ng-if="form.location.$touched == true && form.location.$valid == false" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
								<span ng-if="form.location.$touched == true && form.location.$valid == true" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group has-feedback" ng-class="{'has-error': form.equipment_software.$touched == true && form.equipment_software.$valid == false}">
								<label for="equipment_software">Equipment/Software *</label>
								<textarea class="form-control" name="description" required placeholder="Enter a description" id="equipment_software" ng-model="model.equipment_software" maxlength="100"></textarea>
								<span ng-if="form.equipment_software.$touched == true && form.equipment_software.$valid == false" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
								<span ng-if="form.equipment_software.$touched == true && form.equipment_software.$valid == true" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
								<div><i>{{100 - model.equipment_software.length}} characters left</i></div>
							</div>
						</div>
					</div>

				</form>

			</div>

			<div class="modal-footer">
				<button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal" ng-disabled="form.$invalid" >OK</button>
			</div>

		</div>
	</div>
</div>
