<br>
<form name="form" novalidate>

	<div class="row">
		<div class="col-md-3">
			<p>
				The following is a account user.


			</p>
		</div>
	</div>


	<div class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.name_first.$touched && form.name_first.$invalid}">
				<label>First Name (*)</label>
				<input name="name_first" required autocomplete="off" id="name_first" class="form-control" ng-model="user.name_first" placeholder="Enter First Name" >
				<span ng-if="form.name_first.$touched" ng-class="{ 'glyphicon-ok': form.name_first.$valid, 'glyphicon-remove': form.name_first.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.name_last.$touched && form.name_last.$invalid}">
				<label>Last Name (*)</label>
				<input name="name_last" required autocomplete="off" id="name_last" class="form-control" ng-model="user.name_last" placeholder="Enter Last Name" >
				<span ng-if="form.name_last.$touched" ng-class="{ 'glyphicon-ok': form.name_last.$valid, 'glyphicon-remove': form.name_last.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.type.$touched && form.type.$invalid}">
				<label>Account Type (*)</label>
				<select name="type" required id="type" class="form-control"
						ng-model="user.type"
						placeholder="Select.."
						ng-options="item.value as item.label for item in lookups.userTypes">
					<option value="">Select Type</option>
				</select>
				<span ng-if="form.type.$touched" ng-class="{ 'glyphicon-ok': form.type.$valid, 'glyphicon-remove': form.type.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.homeoffice.$touched && form.homeoffice.$invalid}">
				<label>Home Office (*) (id: {{ user.id_office }})</label>
				<select name="id_office" required id="id_office" class="form-control"
						ng-model="user.id_office"
						placeholder="Select.."
						ng-options="item.id as item.label for item in lookups.homeOffices">
					<option value="">Select Home Office</option>
				</select>
				<span ng-if="form.homeoffice.$touched" ng-class="{ 'glyphicon-ok': form.homeoffice.$valid, 'glyphicon-remove': form.homeoffice.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.password.$touched && form.password.$invalid}">
				<label>Password</label>
				<br>

				<edit-password-button user="user"></edit-password-button>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.username.$touched && form.username.$invalid}">
				<label>Username: {{ user.username }}</label>
				<br>
				<edit-username-button user="user"></edit-username-button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group has-feedback" ng-class="{'has-error': form.email.$touched && form.email.$invalid}">
				<label>Email</label>
				<input type="text" name="email" autocomplete="off" id="email" class="form-control" ng-model="user.email" placeholder="Enter Password">
				<span ng-if="form.email.$touched" ng-class="{ 'glyphicon-ok': form.email.$valid, 'glyphicon-remove': form.email.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.phone.$touched && form.phone.$invalid}">
				<label>Phone</label>
				<input type="tel" name="phone" id="phone" class="form-control" ng-model="user.phone" placeholder="Enter Password">
				<span ng-if="form.phone.$touched" ng-class="{ 'glyphicon-ok': form.phone.$valid, 'glyphicon-remove': form.phone.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>

		<div class="col-md-3" ng-if="user.type == 'job seeker'">
			<div class="form-group has-feedback" ng-class="{'has-error': form.status_dev.$touched && form.status_dev.$invalid}">
				<label>Status Dev ({{ user.status_dev }})</label>
				<select name="status_dev" required id="status_dev" class="form-control"
						ng-model="user.status_dev"
						placeholder="Select.."
						ng-options="item.value as item.label for item in lookups.status_dev">
					<option value="">Select Status Dev</option>
				</select>
				<span ng-if="form.status_dev.$touched" ng-class="{ 'glyphicon-ok': form.status_dev.$valid, 'glyphicon-remove': form.status_dev.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>

		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.passcode.$touched && form.passcode.$invalid}">
				<label>Tmp. Passcode</label>
				<input type="text" name="passcode" id="passcode" class="form-control" ng-model="user.passcode" placeholder="Enter Passcode">
				<span ng-if="form.passcode.$touched" ng-class="{ 'glyphicon-ok': form.passcode.$valid, 'glyphicon-remove': form.passcode.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.address_1.$touched && form.address_1.$invalid}">
				<label>Address</label>
				<input type="text" name="address_1" id="address_1" class="form-control" ng-model="user.address_1" placeholder="Enter State">
				<span ng-if="form.address_1.$touched" autocomplete="off" ng-class="{ 'glyphicon-ok': form.address_1.$valid, 'glyphicon-remove': form.address_1.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.address_city.$touched && form.address_city.$invalid}">
				<label>City</label>
				<input type="text" name="address_city" autocomplete="off" id="address_city" class="form-control" ng-model="user.address_city" placeholder="Enter State">
				<span ng-if="form.address_city.$touched" ng-class="{ 'glyphicon-ok': form.address_city.$valid, 'glyphicon-remove': form.address_city.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.address_state.$touched && form.address_state.$invalid}">
				<label>State (*)</label>
				<select class="form-control" name="address_state" id="address_state"
						ng-model="user.address_state"
						ng-options="item.value as item.label for item in lookups.state"
						required>
					<option value="">Select State</option>
				</select>
				<span ng-if="form.address_state.$touched" ng-class="{ 'glyphicon-ok': form.address_state.$valid, 'glyphicon-remove': form.address_state.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.address_zip.$touched && form.address_zip.$invalid}">
				<label for="address_zip">Zip</label>
				<input type="text" name="address_zip" autocomplete="off" id="address_zip" class="form-control" ng-model="user.address_zip" placeholder="Enter Zip Code">
				<span ng-if="form.address_zip.$touched" ng-class="{ 'glyphicon-ok': form.address_zip.$valid, 'glyphicon-remove': form.address_zip.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div ng-if="user.type == 'employer'" class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.name_client.$touched && form.name_client.$invalid}">
				<label for="name_client">Company</label>
				<input type="text" name="name_client" id="name_client" class="form-control" ng-model="user.name_client" placeholder="Enter Company">
				<span ng-if="form.name_client.$touched" ng-class="{ 'glyphicon-ok': form.name_client.$valid, 'glyphicon-remove': form.name_client.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div ng-if="user.type == 'employer'" class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.company_url.$touched && form.url.$invalid}">
				<label for="url">Company Url</label>
				<input type="text" name="url" id="url" class="form-control" ng-model="user.url" placeholder="Enter Company URL">
				<span ng-if="form.url.$touched" ng-class="{ 'glyphicon-ok': form.url.$valid, 'glyphicon-remove': form.url.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div ng-if="user.type === 'job seeker'" class="row">
		<div class="col-md-12">
			<div class="form-group has-feedback" ng-class="{'has-error': form.web_profile.$touched && form.web_profile.$invalid }">
				<label for="web_profile">Short Profile</label>
				<textarea type="text" name="web_profile" id="web_profile" class="form-control" ng-model="user.web_profile" placeholder="Enter Short Profile"></textarea>
				<span ng-if="form.web_profile.$touched" ng-class="{ 'glyphicon-ok': form.web_profile.$valid, 'glyphicon-remove': form.web_profile.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div ng-if="user.type === 'job seeker'" class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.travel_time.$touched && form.travel_time.$invalid }">
				<label for="travel_time">Travel Time</label>
				<input type="text" name="travel_time" id="travel_time" class="form-control" ng-model="user.travel_time" placeholder="Enter Travel Time">
				<span ng-if="form.travel_time.$touched" ng-class="{ 'glyphicon-ok': form.travel_time.$valid, 'glyphicon-remove': form.travel_time.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.source.$touched && form.source.$invalid }">
				<label for="source">Source</label>
				<select class="form-control" name="source" id="source"
						ng-model="user.source"
						ng-options="item.value as item.label for item in lookups.source"
						>
					<option value="">Select Source</option>
				</select>

				<span ng-if="form.source.$touched" ng-class="{ 'glyphicon-ok': form.source.$valid, 'glyphicon-remove': form.source.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.flag_union.$touched && form.flag_union.$invalid }">
				<label for="flag_union">Union Flag</label>
				<select class="form-control" name="flag_union" id="flag_union"
						ng-model="user.flag_union"
						ng-options="item.value as item.label for item in lookups.yesno"
						>
					<option value="">Select Union Status</option>
				</select>
				<span ng-if="form.flag_union.$touched" ng-class="{ 'glyphicon-ok': form.flag_union.$valid, 'glyphicon-remove': form.flag_union.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.app_career_accomp.$touched && form.app_career_accomp.$invalid }">
				<label for="app_career_accomp">Career Accomplishment</label>
				<input type="text" name="app_career_accomp" id="app_career_accomp" class="form-control" ng-model="user.app_career_accomp" placeholder="Career Accomplishment">
				<span ng-if="form.app_career_accomp.$touched" ng-class="{ 'glyphicon-ok': form.app_career_accomp.$valid, 'glyphicon-remove': form.app_career_accomp.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div ng-if="user.type === 'job seeker'" class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.region_work.$touched && form.region_work.$invalid }">
				<label for="region_work">Regions</label>
				<input type="text" name="region_work" id="region_work" class="form-control" ng-model="user.region_work" placeholder="Region Work">
				<span ng-if="form.region_work.$touched" ng-class="{ 'glyphicon-ok': form.region_work.$valid, 'glyphicon-remove': form.region_work.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.app_industry.$touched && form.app_industry.$invalid }">
				<label for="app_industry">Industry</label>
				<input type="text" name="app_industry" id="app_industry" class="form-control" ng-model="user.app_industry" placeholder="Enter Industries">
				<span ng-if="form.app_industry.$touched" ng-class="{ 'glyphicon-ok': form.app_industry.$valid, 'glyphicon-remove': form.app_industry.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.pay_rate_desired.$touched && form.pay_rate_desired.$invalid }">
				<label for="pay_rate_desired">Pay Rate Desired</label>
				<input type="text" name="pay_rate_desired" id="pay_rate_desired" class="form-control" ng-model="user.pay_rate_desired" placeholder="Enter Rate">
				<span ng-if="form.pay_rate_desired.$touched" ng-class="{ 'glyphicon-ok': form.pay_rate_desired.$valid, 'glyphicon-remove': form.pay_rate_desired.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.app_why_semper.$touched && form.app_why_semper.$invalid }">
				<label for="app_why_semper">Why Semper</label>
				<input type="text" name="app_why_semper" id="app_why_semper" class="form-control" ng-model="user.app_why_semper" placeholder="Enter reason">
				<span ng-if="form.app_why_semper.$touched" ng-class="{ 'glyphicon-ok': form.app_why_semper.$valid, 'glyphicon-remove': form.app_why_semper.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div ng-if="user.type === 'job seeker'" class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.app_be_in_five_years.$touched && form.app_be_in_five_years.$invalid }">
				<label for="app_be_in_five_years">Be in Five Years</label>
				<input type="text" name="app_be_in_five_years" id="app_be_in_five_years" class="form-control" ng-model="user.app_be_in_five_years" placeholder="Enter Regions">
				<span ng-if="form.app_be_in_five_years.$touched" ng-class="{ 'glyphicon-ok': form.app_be_in_five_years.$valid, 'glyphicon-remove': form.app_be_in_five_years.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.app_what_hear_semper.$touched && form.app_what_hear_semper.$invalid }">
				<label for="app_what_hear_semper">What Hear of Semper</label>
				<input type="text" name="app_what_hear_semper" id="app_what_hear_semper" class="form-control" ng-model="user.app_what_hear_semper" placeholder="Heard?">
				<span ng-if="form.app_what_hear_semper.$touched" ng-class="{ 'glyphicon-ok': form.app_what_hear_semper.$valid, 'glyphicon-remove': form.app_what_hear_semper.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.app_company_prefer_not_contact.$touched && form.app_company_prefer_not_contact.$invalid }">
				<label for="app_company_prefer_not_contact">Do not Contact Companies</label>
				<input type="text" name="app_company_prefer_not_contact" id="app_company_prefer_not_contact" class="form-control" ng-model="user.app_company_prefer_not_contact" placeholder="Enter Companies">
				<span ng-if="form.app_company_prefer_not_contact.$touched" ng-class="{ 'glyphicon-ok': form.app_company_prefer_not_contact.$valid, 'glyphicon-remove': form.app_company_prefer_not_contact.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.flag_relocate_willing.$touched && form.flag_relocate_willing.$invalid }">
				<label for="flag_relocate_willing">Willing to Relocate?</label>
				<select class="form-control" name="flag_relocate_willing" id="flag_relocate_willing"
						ng-model="user.flag_relocate_willing"
						ng-options="item.value as item.label for item in lookups.yesno"
						>
					<option value="">Select Willingness</option>
				</select>
				<span ng-if="form.flag_relocate_willing.$touched" ng-class="{ 'glyphicon-ok': form.flag_relocate_willing.$valid, 'glyphicon-remove': form.flag_relocate_willing.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div ng-if="user.type === 'job seeker'" class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.transportation.$touched && form.transportation.$invalid }">
				<label for="transportation">Transportation</label>
				<input type="text" name="transportation" id="transportation" class="form-control" ng-model="user.transportation" placeholder="Enter Transportation">
				<span ng-if="form.transportation.$touched" ng-class="{ 'glyphicon-ok': form.transportation.$valid, 'glyphicon-remove': form.transportation.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.app_working_company.$touched && form.app_working_company.$invalid }">
				<label for="app_working_company">Working Company</label>
				<input type="text" name="app_working_company" id="app_working_company" class="form-control" ng-model="user.app_working_company" placeholder="Enter Company Name">
				<span ng-if="form.app_working_company.$touched" ng-class="{ 'glyphicon-ok': form.app_working_company.$valid, 'glyphicon-remove': form.app_working_company.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div ng-if="user.type === 'job seeker'" class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.app_reason_leave_last.$touched && form.app_reason_leave_last.$invalid }">
				<label for="app_reason_leave_last">Reasons left last</label>
				<input type="text" name="app_reason_leave_last" id="app_reason_leave_last" class="form-control" ng-model="user.app_reason_leave_last" placeholder="Enter reason">
				<span ng-if="form.app_reason_leave_last.$touched" ng-class="{ 'glyphicon-ok': form.app_reason_leave_last.$valid, 'glyphicon-remove': form.app_reason_leave_last.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.shifts.$touched && form.shifts.$invalid }">
				<label for="shifts">Shifts</label>
				<input type="text" name="shifts" id="shifts" class="form-control" ng-model="user.shifts" placeholder="Enter Shifts">
				<span ng-if="form.shifts.$touched" ng-class="{ 'glyphicon-ok': form.shifts.$valid, 'glyphicon-remove': form.shifts.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.flag_application_signed.$touched && form.flag_application_signed.$invalid }">
				<label for="flag_application_signed">Remote App Status</label>

				<input type="text" name="flag_application_signed" id="flag_application_signed" class="form-control" ng-model="user.flag_application_signed" placeholder="Remote App Status">
				<span ng-if="form.flag_application_signed.$touched" ng-class="{ 'glyphicon-ok': form.flag_application_signed.$valid, 'glyphicon-remove': form.flag_application_signed.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.flag_available_immediately.$touched && form.flag_available_immediately.$invalid }">
				<label for="flag_available_immediately">Available Immediately?</label>
				<select class="form-control" name="flag_available_immediately" id="flag_available_immediately"
						ng-model="user.flag_available_immediately"
						ng-options="item.value as item.label for item in lookups.yesno"
						>
					<option value="">Select Availability</option>
				</select>
				<span ng-if="form.flag_available_immediately.$touched" ng-class="{ 'glyphicon-ok': form.flag_available_immediately.$valid, 'glyphicon-remove': form.flag_available_immediately.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div ng-if="user.type === 'job seeker'" class="row">
		<div class="col-md-6">
			<div class="form-group has-feedback" ng-class="{'has-error': form.ra_status.$touched && form.ra_status.$invalid }">
				<label for="ra_phase_2_status">Remote App Status</label>
				<select class="form-control" name="ra_status" id="ra_status"
						ng-model="user.ra_status"
						ng-options="item.value as item.label for item in lookups.ra_app_statuses"
						>
				</select>

				<span ng-if="form.ra_status.$touched" ng-class="{ 'glyphicon-ok': form.ra_status.$valid, 'glyphicon-remove': form.ra_status.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.id_employee.$touched && form.id_employee.$invalid }">
				<label for="id_employee">FM Employee Id</label>
				<input type="text" name="id_employee" ng-disabled="true" id="id_employee" class="form-control" ng-model="user.id_employee" placeholder="Filemaker Employee Id">
				<span ng-if="form.id_employee.$touched" ng-class="{ 'glyphicon-ok': form.id_employee.$valid, 'glyphicon-remove': form.id_employee.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="form-group has-feedback" ng-class="{'has-error': form.flag_no_email.$touched && form.flag_no_email.$invalid }">
				<label for="flag_no_email">Email No Flag? ({{user.flag_no_email}})</label>
				<select class="form-control" name="flag_no_email" id="flag_no_email"
						ng-model="user.flag_no_email"
						ng-options="item.value as item.label for item in lookups.booleanYesNo"
						>
					<option value="">Select Status</option>
				</select>
				<span ng-if="form.flag_no_email.$touched" ng-class="{ 'glyphicon-ok': form.flag_no_email.$valid, 'glyphicon-remove': form.flag_available_immediately.$invalid }" class="glyphicon form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save();">
				<i ng-if="showSpinner == true" class="fa fa-spinner fa-spin"></i>
				Save Account Details
			</button>
		</div>
	</div>

</form>
<br />
