<div class="page-header">
	<h3>
		Find and Link to File Maker
	</h3>
</div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Details</a></li>
  <li role="presentation"><a href="#">Filemaker</a></li>
</ul>
<br>
<div class="row">
	<div class="col-md-10">
		<p>
			No Filemaker Data available; Find and link
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-10">
		<input type="text" class="form-control" placeholder="Enter Email or Phone"></input>
	</div>
	<div class="col-md-2">	
		<button class="btn btn-sm btn-block btn-primary pull-right">
			<i class="fa fa-download"></i>
			&nbsp;
			Sync Jobs
		</button>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<p>Found 13 Possible Accounts in FM</p>
	</div>
</div>



<div class="row">
	<table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Nickname</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Giacomo Guilizzoni<br>Founder & CEO</th>
                <td>37</td>
                <td>Peldi</td>
                <td><button class="btn btn-sm btn-block btn-primary">Link</button></td>
            </tr>
            <tr>
                <td>Marco Botton<br>Tuttofare</th>
                <td>34</td>
                <td></td>
                <td><button class="btn btn-sm btn-block btn-primary">Link</button></td>
            </tr>
            <tr>
                <td>Mariah Maclachlan<br>Better Half</th>
                <td>37</td>
                <td>Patata</td>
                <td><button class="btn btn-sm btn-block btn-primary">Link</button></td>
            </tr>
        </tbody>
    </table>
</div>