<!doctype html>
<html lang="en">
	<head>
		<title>Semper Administrator</title>
		<link rel="stylesheet" href="node_modules/ng-admin/build/ng-admin.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script type="text/javascript">
				if (!localStorage.getItem('semper-admin-token')) {
					window.location.href = './login.html';
				}
		</script>
	</head>
	<body ng-app="myApp">
		<div ui-view></div>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="/vendor/ng-admin.js"></script>
		<script src="./bower_components/angular-keenio/dist/angular-keenio.min.js"></script>

		<script type="text/javascript" src="bower_components/tv4/tv4.js"></script>
		<script type="text/javascript" src="bower_components/objectpath/lib/ObjectPath.js"></script>
		<script type="text/javascript" src="bower_components/angular-schema-form/dist/schema-form.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-schema-form/dist/bootstrap-decorator.min.js"></script>

		<script src="dist/bundle.js"></script>
	</body>
</html>
