<h4>User Forms</h4>

<p>
    The following provides a summary of the users form signing activity.
</p>
<!--
<button ng-click="addTestForm()" class="btn btn-default btn-primary">Add Test Form</button> -->

<div class="row">
	<div class="col-md-12">
        <ul>
            <li ng-repeat="item in data">
                <b>Form Key:</b> {{ item.formKey }}<br>

                <b>Widget Id:</b> {{ item.widgetId }}<br>

                <b>Updated:</b> {{ item.updated }}<br>

                <b>Adobe Url:</b> <a href="{{ item.adobeUrl }}" target="_blank">{{ item.adobeUrl }}</a><br>

                <b>S3Url:</b> {{ item.s3Url || 'NA Pending' }}

                <b>formData:</b> {{ item.formData || 'NA Pending' }}

                <div class="btn-group pull-right">
                    <button ng-click="delete(item)" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>

                    <json-viewer entry="item"></json-viewer>
                </div>
            </li>
        </ul>
	</div>
</div>
