<h4>User Forms</h4>

<p>
    The following provides a summary of the users form signing activity.
</p>

<button ng-click="addTestForm()" class="btn btn-default btn-primary">Add Test Form</button>

<div class="row">
	<div class="col-md-12">
        <table class="table table-hover table-striped">
            <tr>
                <th>
                    Form
                </th>
                <th>
                    Adobe Url
                </th>
                <th>
                    S3 Url
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="item in data">
                <td>
                    {{ item.form_key }}
                </td>
                <td>
                    <a ng-if={{item.adobe_url}} href="{{item.adobe_url}}">Adobe URL</a>
                </td>
                <td>
                    <a ng-if={{item.s3url}} href="{{item.s3url}}">S3 URL</a>
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <button ng-click="delete(item)" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>

                        <button ng-click="download(item)" class="btn btn-default">
                            <i class="glyphicon glyphicon-download"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
	</div>
</div>
