
<div class="row">
	<div class="col-md-12">
	<h4>
		Filemaker User Sync Report
	</h4>
	</div>
</div>

<p>
	The following will show a list of all the Web or FileMaker 
	users that have changed. 
</p>

<div class="row">
	<div class="col-md-12">
	<table class="table table-hover">
		<tr>
			<th>
				Web
			</th>
			<th>
				FileMaker
			</th>
			<th>
				Date
			</th>
			<th>
				&nbsp;
			</th>
		</tr>
		<tr>
			<td>
				Stephan Smith
			</td>
			<td>
				Stephan L Smith
			</td>
			<td>
				12/1/2019
			</td>
			<td>
				<button ui-sref="user-fm-sync" class="btn btn-sm btn-default">Review</button>
			</td>
		</tr>
		<tr>
			<td>
				Stephan Smith
			</td>
			<td>
				Stephan L Smith
			</td>
			<td>
				12/1/2019
			</td>
			<td>
				<button ui-sref="user-fm-sync" class="btn btn-sm btn-default">Review</button>
			</td>
		</tr>
		<tr>
			<td>
				Stephan Smith
			</td>
			<td>
				Stephan L Smith
			</td>
			<td>
				12/1/2019
			</td>
			<td>
				<button ui-sref="user-fm-sync" class="btn btn-sm btn-default">Review</button>
			</td>
		</tr>
		<tr>
			<td>
				Stephan Smith
			</td>
			<td>
				Stephan L Smith
			</td>
			<td>
				12/1/2019
			</td>
			<td>
				<button ui-sref="user-fm-sync" class="btn btn-sm btn-default">Review</button>
			</td>
		</tr>
		<tr>
			<td>
				Stephan Smith
			</td>
			<td>
				Stephan L Smith
			</td>
			<td>
				12/1/2019
			</td>
			<td>
				<button ui-sref="user-fm-sync" class="btn btn-sm btn-default">Review</button>
			</td>
		</tr>
		<tr>
			<td>
				Stephan Smith
			</td>
			<td>
				Stephan L Smith
			</td>
			<td>
				12/1/2019
			</td>
			<td>
				<button ui-sref="user-fm-sync" class="btn btn-sm btn-default">Review</button>
			</td>
		</tr>
	</table>
	</div>
</div>