
<br />

<div class="row">
		<div class="col-md-12">
			<semper-skills-table user="user"></semper-skills-table>
		</div>
	</div>


<div class="row">
	<div class="col-md-12">
		<semper-documents-table user="user"></semper-documents-table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<semper-references-table user="user"></semper-references-table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<semper-education-table user="user"></semper-education-table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<semper-work-history-table user="user"></semper-work-history-table>
	</div>
</div>
